*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

body{
    background-color: darkgrey;
}
.main{
    background-color: whitesmoke;
    margin: 50px;
    border-radius: 10px;
    border: 6px solid pink;
}

.container{
    
 
    display: inline-block;
}

.image{
    width: 500px;
    height: auto;
    text-align: center;
}

.image img{
    margin: 0 auto;
}

.image h1{
    padding: auto;
}

.image p{
    text-align: left;
    padding: 10px;
}

.ingredients{
    width: 528px;
    height: auto;
    margin-left: 5px;
}

.ingredients h2{
    padding: 5px;
}

.ingredients ul{
    list-style: none;
    padding: 5px 0;
}

.link{
    width: 150px;
    height: auto;
}

.link a{
    
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    
}

a:hover{
    margin: 2px;background-color: rgb(228, 223, 223);
}

